In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import requests

# Traffic Incident

In [2]:
url = "https://municipal.systems/v1/places/ga/dataTypes/traffic-incident/data?key=dba4aa07-6314-42fd-927c-2f52106600fc"

response = requests.get(url).json()
data = response["results"]

traffic_data = pd.DataFrame(data)

filtraffic_data= traffic_data['data']
filtraffic_data

0     {'id': '9894', 'type': 'fatal_accident', 'caus...
1     {'id': '9703', 'type': 'fatal_accident', 'caus...
2     {'id': '9529', 'type': 'fatal_accident', 'caus...
3     {'id': '9829', 'type': 'fatal_accident', 'caus...
4     {'id': '9885', 'type': 'fatal_accident', 'caus...
                            ...
95    {'id': '9844', 'type': 'fatal_accident', 'caus...
96    {'id': '9938', 'type': 'fatal_accident', 'caus...
97    {'id': '9542', 'type': 'fatal_accident', 'caus...
98    {'id': '9746', 'type': 'fatal_accident', 'caus...
99    {'id': '9525', 'type': 'fatal_accident', 'caus...
Name: data, Length: 100, dtype: object

In [3]:
coord = []
inc_id = []
weather = []
inc_type = []

for data in filtraffic_data:
    inc_loc = data['location']['coordinates']
    coord.append(inc_loc)
    
    id = data['id']
    inc_id.append(id)
    
    inc_weather = data['weather']
    weather.append(inc_weather)
    
    type = data['type']
    inc_type.append(type)

In [4]:
filTrafData_df = pd.DataFrame({
    'id': inc_id,
    'type': inc_type,
    'location': coord,
    'weather': weather
})

filTrafData_df

      id            type                                  location weather
0   9894  fatal_accident   [-83.39359999983886, 32.57860000026997]   Clear
1   9703  fatal_accident   [-85.24540000027918, 34.17309999994976]   Clear
2   9529  fatal_accident   [-84.29679999997823, 33.90934999963979]   Clear
3   9829  fatal_accident   [-83.44029999965876, 34.18304999995438]   Clear
4   9885  fatal_accident  [-85.07530000013486, 34.347766670196805]   Clear
..   ...             ...                                       ...     ...
95  9844  fatal_accident   [-83.51960000037828, 32.66326944006433]   Clear
96  9938  fatal_accident   [-83.00689999974685, 33.27915833012422]   Clear
97  9542  fatal_accident   [-83.42829999956463, 33.80758888965167]    Rain
98  9746  fatal_accident  [-84.06539999970481, 34.034313889680796]   Clear
99  9525  fatal_accident   [-83.64419999990358, 32.70843610964996]   Clear

[100 rows x 4 columns]

# Traffic Jam

In [4]:
url = "https://municipal.systems/v1/places/ga/dataTypes/traffic-jam/data?key=dba4aa07-6314-42fd-927c-2f52106600fc"

response = requests.get(url).json()
data = response['results']

trafficJam_df = pd.DataFrame(data)

trafficJam_df

,id,sourceId,createdAt,updatedAt,geometry,data
0,22e7dea4-bc10-47d0-8689-9e08f93cfd42,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:46:23.355Z,2021-02-22T21:50:19.520Z,"{'type': 'LineString', 'coordinates': [[-84.65...","{'id': '766797016', 'path': {'type': 'LineStri..."
1,13576c34-4f72-43f1-85e8-7cf050980fa6,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:46:23.400Z,2021-02-22T21:46:23.400Z,"{'type': 'LineString', 'coordinates': [[-84.35...","{'id': '766794436', 'path': {'type': 'LineStri..."
2,9d0565f0-8a56-4cf8-8f4e-690acea11606,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:43:30.153Z,2021-02-22T21:46:23.454Z,"{'type': 'LineString', 'coordinates': [[-84.19...","{'id': '775091405', 'path': {'type': 'LineStri..."
3,63967907-3987-47bf-84dd-bf67a740bc3f,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:46:23.479Z,2021-02-22T21:46:23.479Z,"{'type': 'LineString', 'coordinates': [[-84.50...","{'id': '766791366', 'path': {'type': 'LineStri..."
4,553224cf-a6a0-4e74-8563-bf4abc6f34a3,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T22:01:56.739Z,2021-02-22T22:05:04.591Z,"{'type': 'LineString', 'coordinates': [[-82.11...","{'id': '748930898', 'path': {'type': 'LineStri..."
...,...,...,...,...,...,...
95,db4972be-e58d-46f1-8eba-3fee1a76798e,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:43:19.215Z,2021-02-22T21:43:19.215Z,"{'type': 'LineString', 'coordinates': [[-84.25...","{'id': '835485363', 'path': {'type': 'LineStri..."
96,735e165b-0b7e-403a-8a69-e462ca83d4bb,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:43:19.355Z,2021-02-22T21:43:19.355Z,"{'type': 'LineString', 'coordinates': [[-84.13...","{'id': '835354893', 'path': {'type': 'LineStri..."
97,1e2f4a48-5fa6-4b85-8fa0-60eb338e4df4,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:43:19.090Z,2021-02-22T21:43:19.090Z,"{'type': 'LineString', 'coordinates': [[-84.38...","{'id': '835475733', 'path': {'type': 'LineStri..."
98,8b25bb0d-dbc9-42d0-8741-a3769e8c5893,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:43:20.842Z,2021-02-22T21:43:20.842Z,"{'type': 'LineString', 'coordinates': [[-81.33...","{'id': '834900933', 'path': {'type': 'LineStri..."
99,4c555ac2-83fa-4fd8-8635-70b666ef5125,bf3b588b-ddfd-4265-8ce9-5736c64554df,2021-02-22T21:43:19.781Z,2021-02-22T21:46:14.903Z,"{'type': 'LineString', 'coordinates': [[-84.42...","{'id': '835151673', 'path': {'type': 'LineStri..."

In [33]:
filTrafficJam_data = trafficJam_df['data']
inc_id = [d.get('id') for d in filTrafficJam_data]
delay = [d.get('delay') for d in filTrafficJam_data]
speed = [d.get('speed') for d in filTrafficJam_data]

path = [d.get('path') for d in filTrafficJam_data]
coords = [d.get('coordinates') for d in path]

In [34]:
filTrafJamData_df = pd.DataFrame({
    'id': inc_id,
    'delay': delay,
    'location': coord,
    'speed': speed
})

filTrafJamData_df

           id  delay                                  location  speed
0   766797016    126   [-83.39359999983886, 32.57860000026997]   4.48
1   766794436     98   [-85.24540000027918, 34.17309999994976]   4.70
2   775091405    130   [-84.29679999997823, 33.90934999963979]  14.39
3   766791366     76   [-83.44029999965876, 34.18304999995438]  11.33
4   748930898    123  [-85.07530000013486, 34.347766670196805]   9.45
..        ...    ...                                       ...    ...
95  835485363    146   [-83.51960000037828, 32.66326944006433]   5.22
96  835354893    128   [-83.00689999974685, 33.27915833012422]  11.38
97  835475733    100   [-83.42829999956463, 33.80758888965167]  18.75
98  834900933    109  [-84.06539999970481, 34.034313889680796]   4.86
99  835151673    108   [-83.64419999990358, 32.70843610964996]  13.82

[100 rows x 4 columns]